@page "/productos"
@using Sistema_facturacion.Data.Models
@using Sistema_facturacion.Data.Repositories
@inject ProductoRepository productoRepository

<h1>Productos</h1>

<p></p>

<NavLink class="nav-link" href="FormularioProducto">
    <button class="btn btn-success"><span class="oi oi-plus" aria-hidden="true"></span> Agregar </button>
</NavLink>


<hr class="sidebar-divider">

<table class="table">
    <thead class="table-dark text-center">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Producto product in productos)
        {
            <tr>
                <td>@product.Nombre</td>
                <td>@product.Descripcion</td>
                <td>@product.TipoProducto</td>
                <td>@product.Precio</td>
                <td>@product.FechaRegistro</td>
                <td>@product.Cantidad</td>
                <td>
                    <button class="btn btn-warning"><span class="oi oi-pencil" aria-hidden="true"></span></button>
                    <button class="btn btn-danger"><span class="oi oi-trash" aria-hidden="true"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    private Producto producto = new();
    List<Producto> productos = new();

    protected override async Task OnInitializedAsync()
    {
        productos = await productoRepository.GetAllAsync();
        StateHasChanged();
    }
}