@page "/fetchdata"

@using Sistema_facturacion.Data.Models
@using Sistema_facturacion.Data.Repositories
@inject ProductoRepository productoRepository
@inject NavigationManager navManager
@inject IJSRuntime JSRuntime

<h1>Reportes</h1>

<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> Reporte del listado de productos en existencia.</a>

<hr class="sidebar-divider">

<table class="table">
    <thead class="table-dark text-center">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Producto product in productos)
        {
            <tr>
                <td>@product.Nombre</td>
                <td>@product.Descripcion</td>
                <td>@product.TipoProducto</td>
                <td>@product.Precio</td>
                <td>@product.FechaRegistro</td>
                <td>@product.Cantidad</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Producto> productos = new();

    protected override async Task OnInitializedAsync()
    {
        productos = await productoRepository.GetAllAsync();
        StateHasChanged();
    }

}